doctype 5
html
	head
		title= title
		link(rel='stylesheet' , href='css/main.css')
		link(rel="stylesheet" , href="css/normalize.min.css")
		link(rel="stylesheet" , href="css/bootstrap.css")
		link(rel="stylesheet" , href="css/flat-ui.css")
		link(rel="stylesheet" , href="css/main.css")
		link(rel="stylesheet" , href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css")
		script(src="http://d3js.org/d3.v3.min.js", charset="utf-8")

	body(data-ng-app="communityApp")
		block content
	script(src="js/vendor/log.js")
	script(src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js")
	script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
	script(src="/components/d3/d3.js")
	script(src="js/vendor/log.js")
	script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js")
	script(src="js/main.js")
	script(src="js/controllers.js")
	//- script(src="js/vendor/custom_checkbox_and_radio.js")
	//- script(src="js/vendor/bootstrap-tooltip.js")
	

