extends layout

block content
	div#map
	.container-narrow.masthead
			ul.nav.nav-pills.pull-right
				li.active
					a(href='/') Home
				li.active
					a(href='/details')  Projects
			hr.jumbotron
			h1 My Community Votes
		a.btn.btn-large.btn-success(href='project.html')
			| Add a Project
		