#main_image {
  padding-bottom: 10px;
}
#logo {
  position: absolute;
  padding-left: 25px;
  width: 250px;
}
#map {
  top: 0;
  margin: 0;
  padding: 0;
  height: 450px;
  z-index: 2;
}
body {
  padding-top: 20px;
  padding-bottom: 40px;
}
/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.well {
  max-width: 450px;
}
.well button {
  text-align: center;
}
.container-narrow > hr {
  margin: 30px 0;
}
/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
#upvote,
#downvote {
  font-size: 1em;
  width: 30%;
  text-align: center;
}
#upvote,
#downvote {
  font-size: 1em;
  width: 30%;
  text-align: center;
}
#total {
  background-color: #1ABC9C;
}
#comment {
  padding-left: 15px;
  margin-left: 0;
  background-color: #adffd3;
  width: 150px;
  margin-top: 15px;
}
