/* Desktops and laptops ----------- */
@media only screen and (max-width: 1224px) {
  
}
/* 

  main.css 
  -------
   
*/
* {
  -webkit-transition: all 0.77s ease-in-out;
  -moz-transition: all 0.77s ease-in-out;
  -ms-transition: all 0.77s ease;
  -o-transition: all 0.77s ease-in-out;
  transition: all 0.77s ease-in-out;
}
.container {
  max-width: 660px;
}
/* 

	table style
	--------
   
*/
#firstRow {
  padding-top: 150px;
}
li.Name {
  text-align: left;
  margin-left: 45px;
}
li.Major {
  margin-left: 65px;
}
li.Minor {
  margin-left: 20px;
}
li.Concentration {
  margin-left: -10px;
}
li.palette {
  font-size: 10px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 10px;
}
li.Certification {
  margin-left: -20px;
}
li.Licensure {
  margin-left: -20px;
}
li.Phone {
  margin-left: 25px;
}
li.palette {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0px;
  padding-bottom: 0px;
}
#categories {
  top: 305px;
}
td.Name {
  width: 180px;
}
td.Name a {
  max-width: 100px;
  word-wrap: break-word;
}
td.Major {
  background-color: #BDC3C7;
}
td.Minor {
  background-color: #BDC3C7;
}
td.Licensure {
  background-color: #BDC3C7;
}
td.Phone span {
  font-size: 100%;
}
.inner {
  width: 100px;
  background-color: #ECF0F1;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  text-align: center;
}
ul.nav {
  width: 630px;
}
tbody a {
  color: white;
  text-decoration: none;
}
tbody a:hover {
  color: black;
}
/* 

  search 
  -----
   
*/
.todo {
  width: 100%;
  padding-bottom: 50px;
  margin-bottom: 0;
  border-radius: 18px 18px 0 0px;
}
.todo-search-field {
  width: 100%;
}
/* 

  floating purple box 
  ---------------
   
*/
#program_count {
  border-radius: 18px 0 0 18px;
  position: absolute;
  width: 315px;
}
#program_count span {
  position: fixed;
  top: 450px;
  right: 0;
}
/* 

  filter by type box 
  --------------
   
*/
.demo-panel-title {
  margin-bottom: inherit;
  padding-top: inherit;
}
.wrapper h3 {
  width: 110px;
  height: 10px;
}
.wrapper > *:not(h3) {
  margin-left: 130px;
  height: 40px;
  width: 660px;
  -webkit-column-width: 34px;
  -webkit-column-gap: 25px;
  -moz-column-width: 34px;
  -moz-column-gap: 25px;
  column-width: 34px;
  column-gap: 25px;
}
.wrapper li {
  height: 68px;
  width: 100%;
}
.filtersByType {
  padding-top: 15px;
}
.checkbox:hover {
  color: black;
}
/*
 Keep in mind that you want to combine both CSS
 classes together to avoid any CSS-specificity
 conflicts
*/
.animate-enter-setup.animate-enter-start {
  /* The animation code itself */

  opacity: 1;
}
.animate-enter-setup {
  -webkit-transition: 1s linear all;
  /* Safari/Chrome */

  -moz-transition: 1s linear all;
  /* Firefox */

  -ms-transition: 1s linear all;
  /* IE10 */

  -o-transition: 1s linear all;
  /* Opera */

  transition: 1s linear all;
  /* Future Browsers */

  /* The animation preparation code */

  opacity: 0;
  less: -150px;
}
